*.o
*.so
*.pyc
*_wrap.c
snippets/
notes
Makefile
mergerepo_c
createrepo_c
tests/testcompression_wrapper
tests/testload_metadata
createrepo*.rpm
cmake_install.cmake
install_manifest.txt
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
*_
src/version.h
src/createrepo_c.pc
build/
tags
createrepo_c-*.tar.xz
